@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Exo 2.0 Regular';
  src: local("Exo 2.0 Regular");
  src: url(../fonts/Exo20-Regular.eot);
  src: url("../fonts/Exo20-Regular.ttf") format("embedded-opentype"), url("../fonts/Exo20-Regular.woff") format("woff"), url("../fonts/Exo20-Regular.ttf") format("truetype");
  font-weight: Regular;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 SemiBoldItalic';
  src: local("Exo 2.0 SemiBoldItalic");
  src: url(../fonts/Exo20-SemiBoldItalic.eot);
  src: url("../fonts/Exo20-SemiBoldItalic.ttf") format("embedded-opentype"), url("../fonts/Exo20-SemiBoldItalic.woff") format("woff"), url("../fonts/Exo20-SemiBoldItalic.ttf") format("truetype");
  font-weight: SemiBoldItalic;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  src: local("Impact");
  src: url(../fonts/Impact.eot);
  src: url("../fonts/Impact.ttf") format("embedded-opentype"), url("../fonts/Impact.woff") format("woff"), url("../fonts/Impact.ttf") format("truetype");
  font-weight: impact;
  font-style: normal;
}

html {
  font-family: 'Exo 2.0 Regular';
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #feffe1;
}

.section {
  width: 1240px;
  margin: 0 auto;
}

.first-section {
  height: 100vh;
  background: #fff969;
}

.first-section__nav {
  height: 15vh;
}

.first-section__slider-part {
  height: 70vh;
  background: url(../img/slider1.png) center/cover no-repeat;
}

.first-section__subtext {
  height: 15vh;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__list {
  display: flex;
  gap: 40px;
}

.nav-menu__list-item {
  font-size: 22.5px;
  margin-right: 60px;
}

.nav-menu__list-item:last-child {
  margin-right: 0px;
}

.nav-menu__list-item_number {
  margin-right: 10px;
}

.nav-menu__list-number {
  display: flex;
  color: #001DE1;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #001DE1;
}

.subtext {
  display: flex;
}

.subtext__text {
  font-size: 18px;
}

.subtext__first-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.subtext__second-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtext__third-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 60px;
}

.subtext__img {
  margin-right: 13px;
}

.img_first {
  width: 10%;
}

.img_second {
  width: 15%;
}

.img_third {
  width: 12%;
}

.add-text {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 33.4vw;
  height: 15vh;
}

.second-section {
  min-height: 890px;
  margin-bottom: 60px;
}

.second-section__heading {
  margin-bottom: 25px;
}

.second-section__subtext {
  margin-bottom: 50px;
}

.heading {
  font-family: 'Impact';
  font-weight: impact;
  font-size: 45px;
  color: #001DE1;
  text-align: center;
  padding-bottom: 7px;
  position: relative;
}

.heading__hr {
  width: 231px;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  left: 463px;
  border: none;
  border: 1.4px solid #6aa6ff;
}

.heading-subtext {
  font-family: 'Exo 2.0 SemiBoldItalic';
  font-weight: SemiBoldItalic;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.08em;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 820px;
  min-height: 640px;
  margin: 0 auto;
  margin-bottom: 39.5px;
}

.catalog__img-decoration {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.catalog__item {
  border: 1px solid rgba(0, 0, 0, 0.26);
  width: 257px;
  height: 308px;
  background: rgba(255, 249, 105, 0.84);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  color: black;
}

.catalog__gradient {
  width: 192px;
  height: 181.5px;
  filter: blur(40.575px);
  background: linear-gradient(360deg, #faf4d7 9%, rgba(183, 183, 183, 0) 100%);
}

.catalog__text {
  text-align: center;
  font-size: 20.25px;
}

.catalog__text-kitchen {
  font-size: 13.5px;
}

.catalog__img-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__img {
  position: absolute;
  z-index: 1;
}

.catalog__first-photo {
  max-width: 220px;
  max-height: 192px;
  top: 36.3px;
  right: 31.47px;
}

.catalog__second-photo {
  max-width: 187px;
  max-height: 192px;
  top: 36.3px;
  right: 31.47px;
}

.catalog__third-photo {
  max-width: 144px;
  max-height: 134px;
  top: 75.3px;
  right: 52.47px;
}

.catalog__fourth-photo {
  max-width: 192px;
  max-height: 144px;
  top: 42.3px;
  right: 33.47px;
}

.catalog__fifth-photo {
  max-width: 240px;
  top: 20.299999999999997px;
  right: -0.5300000000000011px;
}

.catalog__sixth-photo {
  max-width: 138px;
  max-height: 176px;
  top: 28.299999999999997px;
  right: 63.47px;
}

.buttons {
  display: block;
  width: 279px;
  height: 50px;
  margin: 0 auto;
  border: none;
  border-radius: 19px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  background: #fffa7c;
}

.buttons__arrow-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15.75px;
}

.buttons__text {
  color: black;
  margin: 15.5px;
}

.buttons__arrow {
  stroke-width: 1.17px;
  stroke: #001de1;
}

.third-section {
  position: relative;
  margin-bottom: 60px;
}

.third-section__heading {
  margin-bottom: 25px;
}

.third-section__subtext {
  margin-bottom: 150px;
}

.third-section__img {
  position: absolute;
  top: 47px;
  left: 161px;
  max-height: 181px;
}

.regular-text {
  max-width: 813px;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: rgba(0, 0, 0, 0.8);
}

.fourth-section__heading {
  margin-bottom: 25px;
}

.fourth-section__subtext {
  margin-bottom: 50px;
}

.fourth-section__subtext-two {
  margin-bottom: 50px;
  max-width: 450px;
  line-height: 150%;
  letter-spacing: 0.08em;
}

.fourth-section__map {
  margin-bottom: 37.5px;
}

.fourth-section__form {
  margin-bottom: 41.25px;
}

.fourth-section__social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 98.25px;
}

.fourth-section__social-media-text {
  letter-spacing: 0.08em;
  font-size: 22.5px;
  text-align: center;
  color: #000;
  margin-right: 20px;
}

.map {
  position: relative;
}

.map__located {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.map__contacts {
  width: 231px;
  height: 197px;
  box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.25);
  background: #faffe6;
  border: none;
  border: 3px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 60px;
}

.map__contacts-main-text {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.08em;
  color: #000;
  margin: 0 auto;
  width: 180px;
  padding-top: 25px;
  margin-bottom: 11px;
}

.map__contacts-phone-text {
  font-size: 8px;
  letter-spacing: 0.08em;
  color: #000;
  margin: 0 auto;
  width: 110px;
  margin-bottom: 4px;
  font-size: 14.25px;
}

.map__contacts-phone-number {
  padding-bottom: 15px;
  width: 180px;
  margin: 0 auto;
}

.map__contacts-phone-located {
  width: 193px;
  margin: 0 auto;
}

.container-info {
  display: flex;
  justify-content: flex-start;
  gap: 12.5px;
}

.container-info__text {
  font-size: 14.25px;
  letter-spacing: 0.08em;
  color: #001de1;
  display: flex;
  align-items: center;
}

.form {
  border-radius: 7px;
  width: 350px;
  height: 430px;
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.form__first-subsection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff969;
  width: 350px;
  height: 61px;
  margin-bottom: 31.3px;
}

.form__second-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__subsection-text-healing {
  font-size: 18px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #0500ff;
}

.form__subsection-first-input {
  margin-bottom: 21.1px;
  position: relative;
  width: 307px;
}

.form__subsection-second-input {
  margin-bottom: 26.6px;
  position: relative;
  width: 307px;
}

.form__subsection-third-input {
  width: 307px;
}

.form__buttons-form-text {
  font-weight: 400;
  font-size: 13.21px;
  line-height: 0%;
  letter-spacing: 0.15em;
  text-align: center;
  color: #001de1;
}

.form__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.form__icon-user {
  padding-left: 8px;
  font-size: 13.21px;
}

.form__icon-call {
  padding-left: 8px;
}

.form-name {
  outline: 0;
  border: 1.75px solid #ddd;
  border-radius: 26px;
  font-size: 13.21px;
  width: 100%;
  height: 39px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px;
  padding-left: 32px;
}

.form-name:focus {
  color: #001DE1;
  border-color: #fff969;
}

#phone-mask {
  outline: 0;
  border: 1.75px solid #ddd;
  border-radius: 26px;
  width: 100%;
  height: 39px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px;
  padding-left: 32px;
}

#phone-mask:focus {
  color: #001DE1;
  border-color: #fff969;
}

#form-textarea {
  outline: 0;
  border: 1.75px solid #ddd;
  font-size: 13.21px;
  border-radius: 26px;
  width: 100%;
  height: 110px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 25.18px;
  resize: none;
  padding: 10px;
  padding-top: 15px;
}

#form-textarea:focus {
  color: #001DE1;
  border-color: #fff969;
}

.buttons-form {
  width: 182px;
  height: 48px;
  margin: 0 auto;
  border: none;
  border-radius: 19px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  background: #fffa7c;
}

.social-media__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media__item:not(:last-child) {
  margin-right: 15px;
}

.fifth-section {
  min-height: 250px;
  background: linear-gradient(360deg, #fff969 0%, rgba(217, 217, 217, 0) 100%);
}

.fifth-section__main-part {
  display: flex;
  color: #001DE1;
}

.fifth-section__icon {
  margin-right: 57px;
}

.fifth-section__text {
  padding-top: 40px;
}

.the-end {
  position: relative;
  width: 100%;
}

.the-end__healings-list {
  display: flex;
  justify-content: center;
  gap: 230px;
  margin-bottom: 37.5px;
  font-size: 22.5px;
}

.the-end__second-subheadings-list {
  display: grid;
  grid-template: repeat(3, auto)/repeat(2, auto);
  column-gap: 30px;
}

.the-end__hr {
  width: 814px;
  position: absolute;
  border: none;
  border: 1px solid #001DE1;
  height: 0px;
  top: 70px;
  left: 15px;
}

.the-end__subheadings {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
}

.the-end__first-list-item {
  font-size: 16.75px;
}

.the-end__first-list-item:not(:last-child) {
  margin-bottom: 11px;
}

.the-end__second-list-item {
  font-size: 16.75px;
}

.the-end__second-list-item:not(:last-child) {
  margin-bottom: 11px;
}

.the-end__third-list-item {
  font-size: 16.75px;
}

.the-end__third-list-item:not(:last-child) {
  margin-bottom: 11px;
}

.first-section__logo {
  width: 100px;
}

@media (max-width: 1199px) {
  .section {
    width: 960px;
  }
  .nav-menu__list-item {
    font-size: 20px;
  }
  .first-section__logo {
    width: 100px;
  }
  .subtext__text {
    font-size: 15px;
  }
  .subtext__third-area {
    padding-left: 30px;
  }
  .img_first {
    width: 9%;
  }
  .img_second {
    width: 12%;
  }
  .img_third {
    width: 11%;
  }
}

@media (max-width: 991px) {
  .section {
    width: 720px;
  }
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
  }
  .nav-menu__list {
    display: flex;
    gap: 30px;
  }
  .nav-menu__list-item {
    font-size: 17px;
    margin-right: 0px;
  }
  .first-section__logo {
    width: 100px;
  }
  .subtext__text {
    font-size: 15px;
  }
  .subtext__first-area {
    padding-right: 20px;
    width: 37vw;
  }
  .subtext__second-area {
    width: 26vw;
  }
  .subtext__third-area {
    width: 37vw;
    padding-left: 30px;
  }
  .img_first {
    width: 25px;
  }
  .img_second {
    width: 40px;
  }
  .img_third {
    width: 30px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .section {
    width: 540px;
  }
  .first-section__logo {
    width: 100px;
    margin-right: 5px;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu__list {
    display: none;
  }
  .nav-menu__list-number {
    flex-direction: row;
    gap: 1px;
  }
  .nav-menu__list-number:before {
    content: "Контакти:";
    margin-right: 6px;
    font-size: 17px;
  }
  .nav-menu__list-item_number {
    margin-right: 5px;
  }
  .subtext__text {
    font-size: 14px;
  }
  .subtext__first-area {
    width: 37vw;
    padding: 0px;
    padding-right: 20px;
  }
  .subtext__second-area {
    width: 26vw;
  }
  .subtext__third-area {
    width: 37vw;
    padding-left: 20px;
  }
  .add-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .img_first {
    width: 25px;
  }
  .img_second {
    width: 40px;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .img_third {
    width: 30px;
    margin-right: 0px;
  }
}

@media (max-width: 575px) {
  .section {
    width: 100%;
  }
  header {
    padding: 10px;
  }
  .nav-menu {
    display: flex;
    justify-content: flex-start;
  }
  .nav-menu__list-number {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }
  .nav-menu__list-number:before {
    content: "Контакти:";
    margin-right: 6px;
    font-size: 17px;
  }
  .first-section__slider-part {
    height: 85vh;
  }
  .first-section__nav {
    height: 15vh;
  }
  .first-section__subtext {
    display: none;
  }
}
